ol {
  font-family: Arial, sans-serif;
  font-size: 26px;
  color: blueviolet;  
  list-style-position: inside;  
}

p{
  margin: 0;
  margin-bottom: 10px;
}

i {
  display: block;
  font-size: 12px;
  padding: 3px;
}

li {
  font-size: 16px;
  color: brown;
  padding: 5px;
}